/* font-family: 'Mulish',
sans-serif; 

Extra-light 200 Bold 700 Black 900

*/
:root {
	--color: #2d00e0;
}
* {
	font-family: "Mulish", sans-serif;
	margin: 0;
	padding: 0;
	font-weight: 200;
}
nav > div,
header,
.services,
.client > div {
	width: 90%;
	margin: 50px auto;
	max-width: 1400px;
}

nav {
	width: 100%;
	background-color: var(--color);
	padding: 20px 0;
}

nav > div {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

ul {
	list-style: none;
	align-self: start;
	display: flex;
	height: 37px;
}

h1 {
	font-family: "Playfair Display", serif;
	letter-spacing: 3px;
	display: inline;
	align-self: end;
	font-size: 28px;
	font-weight: bold;
	color: white;
	font-style: italic;
}

h3 {
	font-size: 48px;
	font-weight: bold;
}

h4 {
	font-size: 24px;
	font-weight: bold;
}
li {
	margin-right: 20px;
	display: inline-block;
	color: rgb(238, 238, 238);
	font-weight: 600;
	align-self: center;
	font-size: 14px;
}

header {
	display: grid;
	grid-template-columns: 2fr 3fr;
}

header img {
	width: 100%;
	float: right;
}

header h2 {
	font-family: "Kanit", sans-serif;
	font-size: 60px;
	line-height: 65px;
	font-weight: 700;
	margin: 120px 0 50px 0;
	width: 80%;
}

header p {
	width: 80%;
	margin: 50px 0;
}
.services {
	margin: 100px auto;
}
.services h3 {
	margin: 80px 0;
}
.serv-card {
	width: 90%;
	margin: 80px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 80px;
}
.card {
	border: 2px solid var(--color);
	padding: 50px;
}
.card .img img {
	width: 100%;
}
.card .con h4 {
	text-align: center;
	margin: 20px 0;
}
.client {
	width: 100%;
	background-color: var(--color);
}
.client > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.client-data {
	display: grid;
	align-content: center;
}
.client-data h3 {
	text-align: center;
	color: white;
	text-decoration: underline;
}
.client-slide {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-content: center;
}

.ar img {
	width: 100px;
}

.r {
	transform: rotate(180deg);
}
.slide p {
	margin: 50px auto;
	color: white;
}
.name {
	color: white;
}
